body{
	color:  #BF50B0;
	background-color: #7D847C;
}

.userinput{
	position: relative;
	z-index:1000;
	margin: 5px;
}


.col-md-4{
	border: 2px solid black;
	max-height: 800px;
	width: 400px;
	margin: 10px;
	padding: 3px;
	text-align: center;
	
}

img {
	height: 300px;
	width: 380px;
}

.selected{
	border: 3px dotted #70B582;
}

p{
	text-align: left;
	padding: 2px;
}

h1{
	color: #274665;
}

