body{
	color:  #BF50B0;
	background-color: #7D847C;
}

.peopleContainer{
	display: flex;
	margin 10px 0;
}

section{
	border: 2px solid black;
	max-height: 800px;
	width: 400px;
	margin: 10px;
	padding: 3px;
	display: inline-block;
	text-align: center;
}

img {
	height: 300px;
	width: inherit;
}

.selected{
	border: 3px dotted #70B582;
}

p{
	text-align: left;
}

h1{
	color: #274665;
}

